// ****************************************
//
//   Card
//   -> http://codepen.io/krll/pen/epful
//
// ****************************************
.animate {
    transition: all .5s ease-in-out;
}

.thumb {
    float: left;
    height: auto;
    margin: 0 10px 10px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font: 1em/1.2em Segoe UI, sans-serif;
    .link {
        display: inline-flex;
        position: relative;
        overflow: hidden;
        max-width: 432px;
        width: auto;
        height: 300px;
        margin-top: 10px;
    }
    .image {
        position: relative;
        flex: 1;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .blend {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-weight: normal;
        background: rgba(0, 0, 0, 0.3);
        color: $white;
        transition-duration: .4s;
    }
    .head {
        height: 1.2em;
        padding: 10px;
        margin: 0;
        display: block;
        font-weight: normal;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    }
    .text {
        display: none;
        position: relative;
        overflow: hidden;
        height: 80.5em;
        padding: .5em 10px;
        font-size: .7em;
    }
    .link:hover {
        .blend {
            height: 100%;
        }
        .text {
            display: block;
        }
    }
    .more {
        color: $white !important;
    }
    .more:hover {
        color: $linkcolorfocus !important;
    }
}