/*------------------------------------*\
    $IMÁGENES
\*------------------------------------*/

@if $incluir-imgclass == true {

img {
	width: 100%;
	float: left;
}

.img--margin {
	margin: 50px 15px;
}

.img--rounded {
  border-radius :$radius * 4;
}

.img--polaroid {
  padding : $gutterwidth / 2;
  background-color : $white;
  border : 1px solid $bordercolor;
  box-shadow : 0 1px 3px rgba(0,0,0,.1);
}

.img--circle {
  border-radius : 100%;
}

figure {
  margin: 0;
}

.post__aboutUs{
  width: 95%;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid $slate;
}

}// end if